<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>책 목록</title>
</head>
<body>
<div class="container" style="max-width: 800px">
    <div class="py-5 text-center">
        <h2>책 목록</h2>
    </div>
    <div class="row mb-3">
        <div class="col">
            <button th:if="${#strings.equals(member.loginId, 'admin')}" class="btn btn-primary float-end"
                    th:onclick="|location.href='@{/books/add}'|" type="button">책 등록
            </button>
        </div>
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>제목</th>
                <th>저자</th>
                <th>장르</th>
                <th>대여/반납</th>
                <th th:if="${#strings.equals(member.loginId, 'admin')}">삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}">제목</td>
                <td th:text="${book.author}">저자</td>
                <td th:text="${book.category}">장르</td>
                <td>
                    <form th:action="@{/loans/rent/{bookId}(bookId=${book.id})}" method="post"
                          th:if="${!book.isRented}">
                        <button type="submit" class="btn btn-success btn-sm">대여하기</button>
                    </form>
                    <form th:action="@{/loans/return/{bookId}(bookId=${book.id})}" method="post"
                          th:if="${book.isRented}">
                        <button type="submit" class="btn btn-warning btn-sm">반납하기</button>
                    </form>
                </td>
                <td>
                    <div th:if="${#strings.equals(member.loginId, 'admin')}">
                        <form th:action="@{/books/{id}/delete(id=${book.id})}" method="post">
                            <input type="hidden" name="_method" value="delete"/>
                            <button type="submit" class="btn btn-danger btn-sm">삭제하기</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <hr class="my-4">
        <a class="btn btn-primary" href="/" role="button">홈 화면</a>
    </div>
</div>
</body>
</html>
