<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container center-content" style="max-width: 800px">
    <div class="py-5 text-center">
        <h3>대여한 책 목록</h3>
        <table class="table">
            <thead>
            <tr>
                <th>제목</th>
                <th>저자</th>
                <th>장르</th>
                <th>대여 날짜</th>
                <th>반납 날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="history : ${loanedBooks}">
                <td th:text="${history.title}">제목</td>
                <td th:text="${history.author}">저자</td>
                <td th:text="${history.category}">장르</td>
                <td th:text="${history.rentDate}">대여 날짜</td>
                <td th:text="${history.returnDate != null ? history.returnDate : '미반납'}">반납 날짜</td>
            </tr>
            </tbody>
        </table>
        <hr class="my-4">
        <a class="btn btn-primary" href="/" role="button">홈 화면</a>
    </div>
</div>
</body>
</html>